/* screen - question-compteur-vrai */

.question-compteur-vrai {
  align-items: flex-start;
  background-color: var(--gray-nurse);
  display: flex;
  height: 800px;
  padding: 0 53px;
  width: 1280px;
}

.question-compteur-vrai .overlap-group {
  align-items: center;
  background-color: var(--elephant);
  border-radius: 76px;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  min-height: 696px;
  padding: 36px 33px;
  width: 1173px;
}

.question-compteur-vrai .flex-row {
  align-items: center;
  align-self: flex-start;
  display: flex;
  gap: 49px;
  min-width: 662px;
}

.question-compteur-vrai .overlap-group1 {
  height: 156px;
  position: relative;
  width: 395px;
}

.question-compteur-vrai .rectangle-5 {
  background-color: var(--loblolly);
  border-radius: 21px;
  height: 106px;
  left: 27px;
  position: absolute;
  top: 50px;
  width: 368px;
}

.question-compteur-vrai .bravo-tu-as-bien-c {
  left: 69px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 69px;
  width: 285px;
}

.question-compteur-vrai .fichier-24x-5 {
  height: 77px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 78px;
}

.question-compteur-vrai .title {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 27.0px;
  min-height: 65px;
  min-width: 218px;
}

.question-compteur-vrai .quel-lment-permet {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 70px;
  min-height: 94px;
  text-align: center;
  width: 818px;
}

.question-compteur-vrai .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 63px;
  margin-right: 42.0px;
  margin-top: 104px;
  min-width: 599px;
}

.question-compteur-vrai .overlap-group3 {
  align-items: flex-start;
  background-color: var(--mantis);
  border-radius: 39px;
  display: flex;
  height: 106px;
  min-width: 291px;
  padding: 30px 25px;
}

.question-compteur-vrai .broches-en-fer {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  width: 241px;
}

.question-compteur-vrai .overlap-group2 {
  align-items: flex-start;
  background-color: var(--mahogany);
  border-radius: 39px;
  display: flex;
  height: 106px;
  min-width: 245px;
  padding: 29px 14px;
}

.question-compteur-vrai .fichier-3 {
  align-self: flex-end;
  cursor: pointer;
  height: 52px;
  margin-right: 29px;
  margin-top: 34px;
  width: 76px;
}
